<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223116686420-k9ei7o6kriaf77mkj3k1h6dl2237qgmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223116686420-k9ei7o6kriaf77mkj3k1h6dl2237qgmk</string>
	<key>API_KEY</key>
	<string>AIzaSyC7ptDjf7YtzQUwgDGKW9tP482GX1A1C7g</string>
	<key>GCM_SENDER_ID</key>
	<string>223116686420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mertas</string>
	<key>PROJECT_ID</key>
	<string>coffee-a0730</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-a0730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223116686420:ios:4cee183b95839a2e9069c1</string>
</dict>
</plist>